<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ficha de inscripción</title>

<style>
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#5f6c7b,#3e4c59);
    margin:0;
    padding:20px;
}

.container{
    max-width: 1300px;
    margin:auto;
    background:white;
    border-radius:15px;
    padding:30px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    color:white;
    margin-left:20px;
}

/* SECCIONES */
.section-title{
    background:#4a5d73;
    color:white;
    padding:10px 20px;
    border-radius:25px;
    display:inline-block;
    margin:25px 0 10px 0;
    font-weight:bold;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

/* CAMPOS */
.field{
    display:flex;
    flex-direction:column;
}

label{
    font-weight:bold;
    color:#4a5d73;
    margin-top:10px;
}

input{
    width:100%;
    padding:10px;
    border-radius:20px;
    border:1px solid #ccc;
    margin-top:5px;
}

/* RADIOS */
.radio-group{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:10px;
}

/* BOTON */
button{
    background:#4a5d73;
    color:white;
    padding:15px;
    border:none;
    border-radius:25px;
    width:100%;
    font-size:16px;
    cursor:pointer;
    margin-top:20px;
}

button:hover{
    background:#2f3e4d;
}

.note{
    color:white;
    margin-left:20px;
}
</style>
</head>

<body>

<h1>Ficha de Inscripción de Alumnos (as)</h1>
<p class="note">Campos obligatorios *</p>

<div class="container">

<form action="/generar" method="POST">

<!-- DATOS PERSONALES -->
<div class="section-title">Datos Personales</div>

<div class="grid">

<div class="field"><label>Nombre del Alumno *</label><input type="text" name="Alumno" required></div>
<div class="field"><label>CURP  del Alumno *</label><input type="text" name="curpAlu" maxlength="18" required></div>
<div class="field"><label>Grado al que se Inscribe *</label><input type="number" name="grado" required></div>
<div class="field"><label>Grupo Asignado *</label><input type="text" name="grupo" required></div>
<div class="field"><label>Municipio de Procedencia *</label><input type="text" name="municipio" required></div>
<div class="field"><label>Años cumplidos *</label><input type="text" name="anoscum" required></div>

<div class="field"><label>Nombre de la Madre, Padre o Tutor *</label><input type="text" name="tutor" required></div>
<div class="field"><label>CURP de la Madre, Padre o Tutor *</label><input type="text" name="curpTut" maxlength="18" required></div>

<div class="field"><label>Ocupación de la Madre, Padre o Tutor*</label><input type="text" name="ocupa" required></div>
<div class="field"><label>Horario *</label><input type="text" name="hora" required></div>
<div class="field"><label>Escolaridad Maxima de la Madre, Padre o Tutor*</label><input type="text" name="escM" required></div>
<div class="field"><label>Domicilio de la Madre, Padre o Tutor</label><input type="text" name="direc"></div>

<div class="field"><label>Domicilio del Alumno (a) *</label><input type="text" name="doma" required></div>
<div class="field"><label>Entre Calle</label><input type="text" name="calle"></div>
<div class="field"><label>Y Calle</label><input type="text" name="calley"></div>
<div class="field"><label>Municipio *</label><input type="text" name="munic" required></div>

<div class="field"><label>Teléfono Casa</label><input type="tel" name="telefonoCasa"></div>
<div class="field"><label>Celular 1 *</label><input type="tel" name="cel1" required></div>
<div class="field"><label>Celular 2</label><input type="tel" name="cel2"></div>
<div class="field"><label>Celular para Agregar al Grupo de Whatsapp de Padre de Familia *</label><input type="tel" name="celWhatsapp" required></div>

</div>

<label>¿Cuenta su hijo(a) con Algun Tipo de Beca? *</label>
<div class="radio-group">
<label><input type="radio" name="beca" value="si"> SI</label>
<label><input type="radio" name="beca" value="no"> NO</label>
</div>

<div class="field"><label>¿Cuál?</label><input type="text" name="cualBe"></div>

<label>¿Ambos padres viven? *</label>
<div class="radio-group">
<label><input type="radio" name="padresViven" value="si"> SI</label>
<label><input type="radio" name="padresViven" value="no"> NO</label>
</div>

<label>¿Los Padres Viven Separados? *</label>
<div class="radio-group">
<label><input type="radio" name="separados" value="si"> SI</label>
<label><input type="radio" name="separados" value="no"> NO</label>
</div>

<div class="field"><label>En caso de ser Afirmativo ¿Con quién vive?</label><input type="text" ="vive"></div>

<label>¿Habla lengua indígena? *</label>
<div class="radio-group">
<label><input type="radio" name="lengua" value="si"> SI</label>
<label><input type="radio" name="lengua" value="no"> NO</label>
</div>

<div class="field"><label>¿Cuál?</label><input type="text" name="cuall"></div>

<!-- DATOS MEDICOS -->
<div class="section-title">Datos Médicos</div>

<div class="grid">
<div class="field"><label>Enfermedades en infancia *</label><input type="text" name="enfInf" required></div>

<div class="field"><label>Grupo Sanguíneo *</label><input type="text" name="sang" required></div>
<div class="field"><label>Enfermedades Que Padesca El Alumno(a) *</label><input type="text" name="enf" required></div>
<div class="field"><label>Intervenciones quirúrgicas *</label><input type="text" name="int" required></div>
<div class="field"><label>¿Cuál?</label><input type="text" name="cualMedico"></div>
<div class="field"><label>¿Sufre Alguna Enfermedad Cronica? *</label><input type="text" name="cro" required></div>
<div class="field"><label>¿Cuál?</label><input type="text" name="cualSufre"></div>
<div class="field"><label>Alergias</label><input type="text" name="alergia"></div>
</div>

<label>¿Toma Algun medicamento Permanente? *</label>
<div class="radio-group">
<label><input type="radio" name="medicamento" value="si"> SI</label>
<label><input type="radio" name="medicamento" value="no"> NO</label>
</div>
<div class="field"><label>¿Cuál?</label><input type="text" name="cualT"></div>

<label>¿Presente Alguna Enfermedad Cardiaca o Renal? *</label>
<div class="radio-group">
<label><input type="radio" name="cardiaca" value="si"> SI</label>
<label><input type="radio" name="cardiaca" value="no"> NO</label>
</div>
<div class="field"><label>¿Cuál?</label><input type="text" name="cualEnf"></div>

<label>¿Padece ASMA? *</label>
<div class="radio-group">
<label><input type="radio" name="asma" value="si"> SI</label>
<label><input type="radio" name="asma" value="no"> NO</label>
</div>

<label>¿Sufre Epilepsias o Convulsione? *</label>
<div class="radio-group">
<label><input type="radio" name="api" value="si"> SI</label>
<label><input type="radio" name="api" value="no"> NO</label>
</div>

<label>¿Padece Alguna Discapacidad? *</label>
<div class="radio-group">
<label><input type="radio" name="dis" value="si"> SI</label>
<label><input type="radio" name="dis" value="no"> NO</label>
</div>

<label>¿Cuando Se Enferma Asiste A? *</label>
<div class="radio-group">
<label><input type="radio" name="AsisA" value="si"> SI</label>
<label><input type="radio" name="AsisA" value="no"> NO</label>
</div>

<!-- ACADEMICO -->
<div class="section-title">Datos Académicos</div>

<div class="grid">
<div class="field"><label>Promedio Final del Grado Anteriol*</label><input type="number" name="prom" required></div>
<div class="field"><label>¿Repitió Algun Grado? *</label><input type="text" name="repG" required></div>
<div class="field"><label>Materias Con Las Que Presente Dificultades</label><input type="text" name="dificul"></div>
<div class="field"><label>Escuela Primaria de Procedencia *</label><input type="text" name="escuela" required></div>
</div>

<label>¿Tiene computadora? *</label>
<div class="radio-group">
<label><input type="radio" name="compu" value="si"> SI</label>
<label><input type="radio" name="compu" value="no"> NO</label>
</div>

<label>¿Tiene internet? *</label>
<div class="radio-group">
<label><input type="radio" name="internet" value="si"> SI</label>
<label><input type="radio" name="internet" value="no"> NO</label>
</div>

<label>Durante la Primaria ¿Tuvo Apoyo De Educasion Especias? *</label>
<div class="radio-group">
<label><input type="radio" name="EduEs" value="si"> SI</label>
<label><input type="radio" name="EduEs" value="no"> NO</label>
</div>
<div class="field"><label>Motivo</label><input type="text" name="moviEs"></div>

<!-- OTROS -->
<div class="section-title">Otros</div>

<div class="radio-group"></div>
<label>Su Hijo ¿Tiene un Empleo Por Las Tardes o Fines De Semana? *</label>
<div class="radio-group">
<label><input type="radio" name="trab" value="si"> SI</label>
<label><input type="radio" name="trab" value="no"> NO</label>
</div>
<div class="field"><label>Describalo</label><input type="text" name="desTrab"></div>


<div class="grid">
<div class="field"><label>Personas que viven con el Alumno(a) *</label><input type="number" name="viveCon" required></div>
</div>

<!-- TRASLADO -->
<div class="section-title">Desplazamiento a La Escuela</div>

<div class="field">
<label>Cuanto Tiempo Tarda en Llegar de su Casa a La Escuela *</label>
<input type="text" name="tiempo" required>
</div>

<div class="radio-group"></div>
<label>Lo Hace *</label>
<div class="radio-group">
<label><input type="radio" name="loHace" value="Caminando"> Caminando</label>
<label><input type="radio" name="loHace" value="Transporte"> Transporte</label>
</div>
<label>¿Cual? *</label> 
<div class="radio-group">
<label><input type="radio" name="TransporteTip" value="Caminando"> Combi</label>
<label><input type="radio" name="TransporteTip" value="Transporte"> Carro Particular</label>
<label><input type="radio" name="TransporteTip" value="Taxi Especial"> Taxi Especial</label>
<label><input type="radio" name="TransporteTip" value="Bicicleta"> Bicicleta</label>
<label><input type="radio" name="TransporteTip" value="Otro"> Otro</label>
</div>
<div class="field"><label>Otro ¿Cual?</label><input type="text" name="cualTip"></div>

<!-- OTROS ASPECTOS  -->
<div class="section-title">Otros Aspectos</div>

<div class="grid">
<div class="field"><label>Enfermedades manifestadas en la piel*</label><input type="number" name="pielEnf" required></div>
<div class="field"><label>Es alergico a algun medicamento y/o alimento*</label><input type="text" name="aleMe" required></div>
<div class="field"><label>Usa algun aparato auditivo o tiene problemas para escuchar bien*</label><input type="text" name="audio" required></div>
<div class="field"><label>Usa lentes o tiene problemas para ver bien*</label><input type="text" name="lentes" required></div>
<div class="field"><label>Presenta pie plano</label><input type="text" ="pie" ></div>
<div class="field"><label>Presenta algun problema de columna*</label><input type="text" name="columna" required></div>
<div class="field"><label>Presenta algun problema de riñon a vejiga*</label><input type="text" name="rinon" required></div>
<div class="field"><label>Presenta obecidad, desnutricion, diabetes, otras*</label><input type="text" name="desnutri" required></div>
</div>
<div class="field"><label>Alguna recomendacion extra, que considere que debamos saber</label><input type="text" name="recomendacion" ></div>

<div class="radio-group"></div>
<label>Es Zurdo *</label>
<div class="radio-group">
<label><input type="radio" name="zurdo" value="si"> SI</label>
<label><input type="radio" name="zurdo" value="no"> NO</label>
</div>

<div class="radio-group"></div>
<label>¿Necesita butaca Zurda? *</label>
<div class="radio-group">
<label><input type="radio" name="netZur" value="si"> SI</label>
<label><input type="radio" name="netZur" value="no"> NO</label>
</div>

<div class="radio-group"></div>
<label>¿Asiste o ha asistido a apoyo psicologico? *</label>
<div class="radio-group">
<label><input type="radio" name="psico" value="Caminando"> Si</label>
<label><input type="radio" name="psico" value="Transporte"> No</label>
</div>
<div class="field"><label>Razon</label><input type="text" name="razonPsi"></div>

<div class="radio-group"></div>
<label>El alumno presenta algun sindrome o espectro *</label>
<div class="radio-group">
<label><input type="radio" name="sindorme" value="Caminando"> Si</label>
<label><input type="radio" name="sindorme" value="Transporte"> No</label>
</div>
<div class="field"><label>En caso afirmativo ¿Cual?</label><input type="text" name="casoSin"></div>

<div class="field"><label>Anote cualquier observacion a tener en cuenta por los docentes, en el desarrollo de sus clases</label><input type="text" name="observacion" ></div>

<!-- Talla y peso  -->
<div class="section-title">Talla y peso</div>

<div class="grid">
<div class="field"><label>Estatura*</label><input type="number" name="estatura" required></div>
<div class="field"><label>Peso*</label><input type="text" name="peso" required></div>
<div class="field"><label>Talla de camisa o blusa*</label><input type="text" name="tallC" required></div>
<div class="field"><label>Talla de pantalon o falda*</label><input type="text" name="tallP" required></div>
<div class="field"><label>Talla de zapatos*</label><input type="text" name="tallaZ" required></div>

</div>
<div class="field"><label>Nombre del padre o tutor</label><input type="text" name="nobreT" ></div>

<button type="submit">Enviar Registro</button>

</form>

</div>

</body>
</html>