<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Sistema de Formularios Escolares</title>

<style>

body{
    font-family: Arial;
    background:#f4f6f9;
    text-align:center;
    padding-top:100px;
}

h1{
    margin-bottom:50px;
}

.menu{
    display:flex;
    justify-content:center;
    gap:40px;
}

button{
    width:250px;
    height:120px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background:#003366;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0055aa;
    transform:scale(1.05);
}

</style>
</head>

<body>

<h1>Sistema de Registro Escolar</h1>

<div class="menu">

<a href="/formulario1">
<button>
Registro de Alumno
</button>
</a>

<a href="/formulario2">
<button>
Formulario 2
</button>
</a>

<a href="/formulario3">
<button>
Formulario 3
</button>
</a>

</div>

</body>
</html>